html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    color: rgb(138,43,226);

    text-align: center;

    font-size: 40px;

    font-style: normal;

}

body, html{

    background: url("Photos/backgroundField.PNG");

    height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body, html, h2 {
    color: rgb(138,43,226);
    position: absolute;
    bottom: -25px;
    left: 650px;

}

body, html, #redLight {

    position: absolute;
    top: 5px;
    right: 150px;
    z-index: 2;
}

body, html, #greenLight {
    position: absolute;
    top: 5px;
    left: 150px;
    z-index: 3;
}

body, html,  #purpleBfly {
    position: absolute;
    top: 250px;
    left: -35px;
    z-index: -1;

}

body, html, #yellowBfly {
    position: absolute;
    top: 400px;
    left: 0px;
    z-index: -1;
}

body, html, #purpBfly {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    position: absolute;
    top: 245px;
    left: 675px;

}

body, html, #yellBfly {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    position: absolute;
    top: 245px;
    left: 675px;

}

body, html, #tieName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    position: absolute;
    top: 245px;
    left: 675px;
}