html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    color: rgb(138,43,226);

    text-align: center;

    font-size: 40px;

    font-style: normal;

    border-bottom: thick solid rgb(138,43,226);

}

body, html{

    background: url("backgroundField.PNG");

    height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}