html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("Photos/backgroundField.PNG");
    background-repeat: no-repeat; 
    background-size: 100%;
}

header {
    color: rgb(233, 22, 22);
    text-align: center;
    font-size: 30px;
    font-style: normal;
}
 


